body {
    margin: auto;
  }
  header {
    background-color: #C4C4C4;
    font-family: Lucida;
    font-size: 12pt;
    width: inherit;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    position: relative;
  }
  ul {
    color: white;
    font-family: Lucida;
    text-align: right;
    font-style: strong;
    font-size: 18px;
    text-shadow: 1px 1px 1px #666367;
    position: absolute;
    top: 10px;
    right: 20px;
    }
  li {
    display: inline;
  }
  .button {
    color: white;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-left: 25px;
    border-color: #000;
    border-style: solid;
    border-radius: 4px;
    border-width: thin;
    background-color: #0431B4;
  }
  img {
    width: 250px;
    height: auto;
    float: left;
    padding-top: 15px;
    padding-left: 20px;
  }
  main {
    border-color: #D8D8D8;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    min-width: 700px;
    max-width: 700px;
    box-shadow: 5px 5px 5px #d8d8d8;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-family: Lucida Sans;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  body {
  background-image: url(http://cloud.avandamiri.com/image/3N410e2Q2Z3F/background.png);
  }
  footer {
    font-family: Lucida;
    font-size: 14px;
    text-align: center;
    color: #A2979A;
    padding-top: 40px;
  }
  .line-separator {
    height: 1px;
    background: #CECECE;
    box-shadow: 1px 2px 3px 1px white;
    width: 705px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    }
